@-ms-viewport{
  width: device-width;
}

.headerwraphome{
	height: 65px;
	background-color: white;
	padding-top: 24px;


}

.headerwrap{
	height: 75px;

}

/*.topLine{
	color: red;
	text-align: center;
	font-size: 30px;
	margin-top: -32px;
	margin-left: 93px;
}*/

.logInButton {
	float:right;
	color:red;
	font-family: helvetica;
	font-size: 15px;

	margin-top: 35px;
	margin-right: 8px;

}

.homeheadhome{
	color: red;
	font-family: helvetica;
	font-size: 30px;
	font-weight: bold;
	margin-left: 6px;
	
}

.intro{

	font-family: helvetica;
	font-size: 26px;
	font-weight: bold;
	color: white; 
	text-shadow: 2px 0 black;
	text-align: center;  
	    
}

.introTwo{
	font-family: helvetica;
	font-size: 20px;
	color: white;
	text-align: center; 
	padding-bottom: 15px;

}

.buttonDiv{
	height: 100px;
	width: auto;
	padding-top: 20px;

}

.findMarketButton{
	margin-left:145px;
	height: 20px;
	width: 30px;

	font-family: helvetica;
	font-size: 20px;
	color: red;
	font-weight: bold;

}

.homehead{
	color: red;
	font-family: helvetica;
	font-size: 19px;
	font-weight: bold;
	margin-left: 186px;
	
}


.signUpButton{
	margin-left:25px;
	height: 20px;
	width: 30px;
	font-family: helvetica;
	font-size: 20px;
	color: red;
	font-weight: bold;
}

.vendorPhoto{
	height: 170px;
	width: 170px;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 20px;
}

.welcome{
	height: 450px;
	width: auto;
	background-color: white;
	border: #ECECEC solid 65px;

	
}

.introBlurb{
	font-weight: bold;
	padding: 20px;
	font-family: helvetica;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;

}

.introBlurbTwo{
	font-family: helvetica;
	font-size: 18px;
	color: #737373;
	text-align: left;
	margin-left: 34px;
	margin-top: -1px;

}

.item {
  width: 100%;
  max-height: 435px;
}


.footer{
	position: relative;
  	margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
  	padding-top:50px;
}

.ironyard {
 font-family: helvetica;
 font-size: 9px;
 text-align: center;
}

.about{

	display:block;
	height:150px;
	color: #737373;
	border-top: #ECECEC 1px solid;
	text-align: center;
	padding-top: 20px;
}
.help{
	display:block;
	height:150px;
	color: #737373;
	border-top: #ECECEC 1px solid;
	text-align: center;
	padding-top: 20px;

}
.getApp{
	display: block;
	height:150px;
	color: #737373;
	border-top: #ECECEC 1px solid;
	text-align: center;
	padding-top: 20px;
}

.photoButton{
	margin-top: 8px;
	margin-left: 30px;
	height: 20px;
}

.vendorDescription{
	width: 90%;
	height: 125px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.createUser{
	margin-left: 20px;
	margin-bottom: 10px;
}

.vendorName{
	width: 90%;
	margin-top: 20px;
}

.scroll{
	margin-left: 30px;
	margin-top: 25px;
}
.vendorContact{
	width: 90%;
	margin-top: 20px;
}

.vendorEmail{
	width: 90%;
	margin-top: 20px;
	
}

.vendorPassword{
	width: 90%;
	margin-top: 20px;
}

.vendorPasswordConfirm{
	width: 90%;
	margin-top: 20px;
	
}

.vendorAddress{
	width: 90%;
	margin-top: 20px;
}

.errors{
	color: red;
	font-size: 10px;
	float: right;
}

.homeButton {
	float:right;
	color:red;
	font-family: helvetica;
	font-size: 15px;

	margin-top: 25px;
	margin-right: 25px;
}

.logOutButton {
	float:right;
	color:red;
	font-family: helvetica;
	font-size: 15px;

	margin-top: 25px;
	margin-right: 25px;

}


.loginBlock {
	height: 300px;
	padding-top: 50px;
	color:black;
	background-image: url("http://www.afterhood.com/wp-content/uploads/2012/08/Somerville-Farmers-Market-37-11-7-02.jpg");
	background-size: 475px 300px;
	opacity: .7;
}



.editmarketlistButton {
	float:right;
	color:red;
	font-family: helvetica;
	font-size: 15px;

	margin-top: 25px;
	margin-right: 25px;


}

.editprofileButton {
	float:right;
	color:red;
	font-family: helvetica;
	font-size: 15px;

	margin-top: 25px;
	margin-right: 25px;

}


 .loginBlock{
  	padding-top: 50px;
  	padding-right: 100px;
  	padding-left: 100px;
  }

.img-responsive{
  		margin-top: 10px;
  		
  	}

@media (min-width: 750px) {
}


@media (min-width: 970px) {
}








