

.headerwrap{
	height: 75px;
	border-bottom: 5px solid red;
}

a:link {
	float:right;
	color:red;
	font-family: arial;
	font-size: 15px;

	margin-top: 25px;
	margin-right: 25px;

}

.homehead{
	color: red;
	font-family: arial;
	font-size: 35px;
	position: relative;
	margin-left: 30px;
	top:37px;
	width: 184px;
	padding: 0 6px;
	background-color: white;
	overflow: hidden;
}

.item{
 	 width: auto;
  	 height: 400px;
     max-height: 400px;
}

.intro{

	font-family: helvetica;
	font-size: 100px;
	color: white; 
	text-shadow: 3px 0 gray;
	text-align: left; 
	line-height: 100px;
	margin-bottom: 30px;
	      
}

.bottomline{
	height:5px;
	background-color:red;

}

.findMarketButton{
	height:30px;
	width:300px;
	background-color: red;
	margin-left: 85px;
	margin-top: 30px;
	

	font-family: arial;
	color: white;
	
}

.signUpButton{
	height:30px;
	width:300px;
	background-color: red;
	margin-left: 50px;
	margin-top: 30px;

	
	font-family: arial;
	color: white;

}

.vendorPhoto{
	height: 170px;
	width: 170px;
	border: 1px solid black;
	margin-left: 20px;
	margin-top: 20px;
}

.photoButton{
	margin-top: 5px;
	margin-left: 50px;
	height: 20px;
}

.vendorDescription{
	display: block;
	width: 700px;
	height: 125px;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.createUser{
	margin-left: 650px;
	margin-bottom: 10px;
}

.vendorName{
	width: 250px;
	margin-top: 20px;
}

.scroll{
	margin-left: 30px;
	margin-top: 25px;
}
.vendorContact{
	width: 250px;
	margin-top: 20px;
}

.vendorEmail{
	width: 200px;
	margin-top: 20px;
	margin-left: 30px;
}

.vendorPassword{
	width: 250px;
	margin-top: 20px;
}

.vendorPasswordConfirm{
	width: 200px;
	margin-top: 20px;
	margin-left: 30px;
}

.vendorAddress{
	width: 480px;
	margin-top: 20px;
}

.errors{
	color: red;
	font-size: 10px;
	float: right;
}

/**/


@media (max-width: 726px) {
  .findMarketButton{
  	margin-left: 200px;
  	


  }
  .signUpButton{
  	margin-left: 200px;
  	
  	
  }

}







